*{
    margin: 0;
    padding: 0;
}
#container1{
    width: 1200px;
    margin: 0 auto;
}
header{
   
    
    background-color: #014455;
    padding: 10px;
}
nav{
    width: 600px;
    padding-top: 30px;
    float: right;
    font-weight: bold;
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
}
nav ul li{
    list-style-type: none;
    float: left;
    font-weight: bold;
}
footer ul li{
    list-style-type: none;
    float: left;
    font-weight: bold;
}
ul{
    margin-left: 100px;
}
.menu1{
    text-align: right;
    width:  20%;       
    line-height: 20px;
}
.menu2{
    text-align: right;
    width:  20%;       
    line-height: 60px;
    display: inline-block;
}

#section01{
  
   
    background-color: #FFFFFF;
    padding: 10px;
    margin: 20px;
}
#section02{
 
    
    background-color: #FFFFFF;
    padding: 10px;
    margin: 20px;
}
img{
    border-radius: 20px;
    margin: 10px;
    float: left;
   
   
}
#memo{
    float: right;
    width: 50%;
  
  
}
#no{
    width: 1000px;
    
    margin: 0 auto;
}
.story{
    margin-left: 20px;
}
h2{
    margin: 10px;
    clear: both;
}
h3,p{
    float:
}

footer{
    width: 1200px;
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
    height: 60px;
    color: #FFF;
    font-weight: bold;
    clear: both;
}