*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inner{
    width: 1720px;
    height: 345px; 
    margin: 0 auto;
}
#wrap{width: 100%;}
/**********header**************/
header{
    height: 100px;
    border: 1px solid #323232;
}
header .inner{
    float: left;
}
.section01{
    width: 1720px;
    height: 345px;

}
.section02 h1{
    text-align: center;
}
.section03{
    
}
.on1{
    float: left;
    width: 770px;
    height: 350px;
}
.on1 img{
    width: 430px;
    height: 170px;
}
footer{
    height: 100px;
    background-color: #aaaaaa;
}